* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

$dark-color: #272727;
$dark-color-opacity70: rgba(39, 39, 39, 0.7);
$dark-color-opacity90: rgba(39, 39, 39, 0.9);

$light-color: #EDE9EC;
$viridian-green: #109193;
$marigold: #ED9F31;
$mulberry: #BE4B88;

/* FONTS */

@font-face {
    font-family: "Shrimp";
    src: url("../fonts/shrimp.ttf");
}

/* KEYFRAMES */

@keyframes menu-features-hover {
    0% { background-color: $viridian-green; }
    50% { background-color: $mulberry; }
    100% { background-color: $marigold; }
}

@keyframes menu-height-animation {
    from { height: 20vh; }
    to { height: 100vh; }
}