* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* VARIABLES */
$dark-color: #272727;
$light-color: #EDE9EC;
$viridian-green: #109193;
$marigold: #ED9F31;
$mulberry: #BE4B88;


/* KEYFRAMES */
@keyframes menu-features-hover {
    0% { background-color: $viridian-green; }
    50% { background-color: $mulberry; }
    100% { background-color: $marigold; }
}