@import "config";
@import "hamburger";

body {
    background-color: $dark-color;
    height: 4000px;
}

p {
    color: $light-color;
}

.menu-container {
    position: fixed;
    background-color: $dark-color-opacity70;
    width: 100%;
    height: 70px;
}

.menu {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-container {
    width: 30px;
    height: 30px;
}

/* when we click the hamburger logo */
#hamburger:checked ~ .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 200;
    font-size: 30px;
    position: fixed;
    top: 0px; left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: darken($dark-color-opacity90, 3%);

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.menu-features {
    width: 75%;
    height: 50%;
    border-left: 2px solid $light-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
        list-style-type: none;

        a {
            margin-left: 35px;
            text-decoration: none;
            color: $light-color;
        }
    }
}

/* =======================================================
DESKTOP STYLES
======================================================= */

@media only screen and (min-width: 1000px) {

    .menu-container {
        background-color: rgba($dark-color-opacity70, 0);
    }

    .menu-features {

        li:hover {
            animation: menu-features-hover 0.4s ease 0s infinite;
            transform: scaleY(105%);
            transition: transform 0.4s ease 0s;

            a{
                margin-left: 5px;
                transition: margin-left 0.2s ease;
            }
        }
    }
}

/* =======================================================
FOR SCREEN HEIGHT < 450px
======================================================= */
@media only screen and (max-height: 450px) {

    .dropdown-menu {
        font-weight: 100;
        font-size: 25px;
    }

}