@import "config";
@import "hamburger";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $dark-color;
    font-family: 'Tajawal', sans-serif;
}

h1, h2, h3 {
    font-weight: 200;
    color: $light-color;
}

h1 {
    font-size: 32px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 20px;
    letter-spacing: 0.5
}

p {
    color: $light-color;
    font-weight: 200;
}

/* =======================================================
MENU
======================================================= */

.menu-container {
    position: fixed;
    top: 0;
    background-color: rgba($dark-color, 0.95);
    width: 100%;
    height: 70px;
    z-index: 5;
}

.menu {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    height: 50px;
}

.hamburger-container {
    width: 30px;
    height: 30px;
}

/* when we click the hamburger logo */
#hamburger:checked ~ .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    font-family: 'Tajawal', sans-serif;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 25px;
    position: fixed;
    top: 0px; left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: darken($dark-color, 5%);

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.menu-features {
    width: 75%;
    height: 50%;
    border-left: 2px solid $light-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
        list-style-type: none;

        a {
            margin-left: 35px;
            text-decoration: none;
            color: $light-color;
        }
    }
}


article {
    width: 100%;
    height: 100%;
}

/* =======================================================
HERO SECTION
======================================================= */

#hero {
    width: 100%;
    height: 200vh;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $dark-color;
    border-bottom: 2px solid darken($dark-color, 4%);
}

.main-title {
    width: 90%;
}

.links {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 25%;
    max-width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a{
        width: 40%;
    }
}

.brick-wall {
    background-image: url("../images/svg/wall.svg");
    background-size: 150px;
    background-position: 30px 15px;
}

.image-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.illustration {
    width: 75%;
    display: block;

    img {
        width: 100%;
    }
}

/* =======================================================
ABOUT ME SECTION
======================================================= */

#about-me {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-top: 2px solid darken($dark-color, 4%);
    box-shadow: 0 -10px rgba(darken($dark-color, 5%), 0.3);
}

.introduction {
    width: 90%;
    margin-top: 80px;
}

.paragraphs p em {
    color: $marigold;
    font-style: normal; 
    font-weight: 400;
}

.highlighted-word {
    color: $mulberry;
    font-weight: 400;
}

.free-time {
    color: $viridian-green;
    font-weight: 400;
}

/* =======================================================
PROJECTS SECTION
======================================================= */

#projects {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    box-shadow: 0 10px rgba(darken($dark-color, 5%), 0.3);

    h2 {
        position: absolute;
        bottom: 10px;
        width: 90%;
    }
}

.projects-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    border-top: 2px solid darken($dark-color, 4%);
    border-bottom: 2px solid darken($dark-color, 4%);
    gap: 50px;
    padding: 50px 0;

}

.project {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    margin: 0 auto;
    width: 200px;
    height: 300px;
    border: 2px solid darken($dark-color, 4%);
    border-radius: 10px;
    box-shadow: (4px 4px rgba(darken($dark-color, 5%), 0.3));
    cursor: pointer;
}

// responsive background-image for panels
.project-1,
.project-3 {
    background-image: url("../images/projects/poster1-small.png");
    background-image: -webkit-image-set(
        url("../images/projects/poster1-small.png") 1x,
        url("../images/projects/poster1-big.png") 2x
    );
    background-image: image-set(
        url("../images/projects/poster1-small.png") 1x,
        url("../images/projects/poster1-big.png") 2x
    );
    background-size: 115%;
    background-position: center;
}

.project-2,
.project-4 {
    background-image: url("../images/projects/poster2-small.png");
    background-image: -webkit-image-set(
        url("../images/projects/poster2-small.png") 1x,
        url("../images/projects/poster2-big.png") 2x
    );
    background-image: image-set(
        url("../images/projects/poster2-small.png") 1x,
        url("../images/projects/poster2-big.png") 2x
    );
    background-size: 115%;
    background-position: center;
    background-position-x: left -19px;
}

.retractable-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 0%;
    width: 100%;
    background-color: rgba($marigold, 0.9);
    border-radius: 7px;
    cursor: pointer;
    display: none;

    img {
        width: 40px;
    }
}


/* =======================================================
SKILLS SECTION
======================================================= */

#skills,
#contact-me {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

}

.skills-title,
.contact-me-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;

    h2 {
        position: absolute;
        bottom: 10px;
        width: 90%;
    }
}

.skills-title {
    box-shadow: 0 -10px rgba(darken($dark-color, 5%), 0.3);
}

.skills-container {
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(2, 70px);
    column-gap: 70px;
    row-gap: 40px;
}

.cell {

    h3 {
        text-align: center;
        font-size: 16px;
    }
}

/* =======================================================
CONTACT ME SECTION
======================================================= */

#contact-me {
    height: 100vh;
    width: 100%;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 400px;
    // background-color: red;
}

.form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    input {
        width: 100%;
        height: 35px;
        font-family: "Tajawal", sans-serif;
        font-size: 18px;
        background-color: $light-color;
        border: none;
        border-radius: 5px;
        text-indent: 10px;
    }

    button {
        font-family: "Tajawal", sans-serif;
        font-size: 18px;
        width: 70%;
        height: 40px;
        background-color: $viridian-green;
        color: $light-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

/* =======================================================
MOBILE STYLES
======================================================= */

@media only screen and (max-width: 640px) {

    .title-container {
        box-shadow: 0 10px rgba(darken($dark-color, 5%), 0.3);
    }    
}


/* =======================================================
TABLET STYLES
======================================================= */

@media only screen and (min-width: 641px) and (max-width: 1007px) {

    .title-container {
        box-shadow: 0 10px rgba(darken($dark-color, 5%), 0.5);
    }    

    .illustration {
        width: 48%;
    }

    .introduction {
        width: 70%;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-title h2,
    .skills-title h2,
    .contact-me-title h2 {
        width: 70%;
    }

    .skills-container {
        grid-template-columns: repeat(4, 70px);
    }

    .form-container {
        width: 60%;
    }
    
    .form {

        input {
            width: 80%;
        }

        button {
            width: 50%;
        }
    }
}


/* =======================================================
DESKTOP STYLES
======================================================= */

@media only screen and (min-width: 1008px) {

    .menu-container {
        background-color: rgba($dark-color, 0);
    }

    .menu-features {

        li:hover {
            animation: menu-features-hover 0.4s ease 0s infinite;
            transform: scaleY(105%);
            transition: transform 0.4s ease 0s;

            a{
                margin-left: 5px;
                transition: margin-left 0.2s ease;
            }
        }
    }

    // Main Logo is a scroll-up button
    .main-logo {
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.1s ease;
        }
    }

    #hero {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .title-container {
        width: 60%;
        border-bottom: none;
    }

    .main-title {
        width: 100%;
        padding-left: 70px;
    }

    .links {
        left: 70px;

        a:hover {
            transform: scale(110%);
            transition: transform 0.2s ease;
        }
    }
    
    .image-container {
        width: 40%;
        border-bottom: 2px solid darken($dark-color, 4%);
        border-left: 2px solid darken($dark-color, 4%);
        box-shadow: inset 7px -7px rgba(darken($dark-color, 5%), 0.3);
    }

    .illustration {
        width: 70%;

        img:hover {
            transform: scale(110%);
            transition: transform 0.2s ease;
        }
    }

    #about-me {
        border-top: none;
        box-shadow: none;
    }

    .introduction {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 70px;
    }

    .paragraphs {
        width: 75%;
        max-width: 800px;
    }

    .projects-container {
        grid-template-columns: repeat(4, 1fr);
        padding: 50px 5%;
    }

    .project:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease;
    
        // when we hover the project panel, it shows the retractable panel
        & > .retractable-panel {
            height: 65%;
            display: flex;
            animation: show-project-panel 0.1s ease;
        }
    }

    .projects-title h2,
    .skills-title h2,
    .contact-me-title h2 {
        width: 100%;
        padding: 0 70px;
    }

    .skills-container {
        grid-template-columns: repeat(6, 70px);
    }

    .form-container {
        width: 70%;
    }

    .form {

        input {
            width: 60%;
        }

        button {
            width: 30%;
        }
    }
}

/* =======================================================
FOR SCREEN HEIGHT < 500px
======================================================= */
@media only screen and (max-height: 500px) {

    .dropdown-menu {
        font-size: 20px;
    }

    .links {
        max-width: 70px;
    }

    .illustration {
        width: 25%;
    }

    #about-me {
        height: 150vh;
    }

}