* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
/* KEYFRAMES */
@keyframes menu-features-hover {
  0% {
    background-color: #109193;
  }
  50% {
    background-color: #BE4B88;
  }
  100% {
    background-color: #ED9F31;
  }
}

@keyframes project-panel-hover {
  0% {
    display: flex;
    height: 0%;
  }
  25% {
    display: flex;
    height: 20%;
  }
  50% {
    display: flex;
    height: 40%;
  }
  100% {
    display: flex;
    height: 65%;
  }
}

/* 35px*35px click area */
#hamburger {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  appearance: none;
}

/* hamburger logo */
#hamburger + label {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  top: 33.5px;
  right: 10px;
  transition: width 0.3s ease;
}

#hamburger + label::before {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  content: "";
  right: 0;
  top: -13.5px;
  transition: all 0.2s ease;
  transform-origin: right;
}

#hamburger + label::after {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  content: "";
  right: 0;
  top: 13.5px;
  transition: all 0.2s ease;
  transform-origin: right;
}

/* hamburger becomes a cross when it's clicked */
#hamburger:checked ~ label {
  width: 0;
  transition: width 0.2s ease;
}

#hamburger:checked ~ label::before {
  right: 0px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  transform-origin: right;
  width: 39px;
}

#hamburger:checked ~ label::after {
  right: 0px;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  transform-origin: right;
  width: 39px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #272727;
  font-family: 'Tajawal', sans serif;
}

h1, h2, h3 {
  font-weight: 200;
  color: #EDE9EC;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.5;
}

p {
  color: #EDE9EC;
  font-weight: 200;
}

/* =======================================================
MENU
======================================================= */
.menu-container {
  position: fixed;
  top: 0;
  background-color: rgba(39, 39, 39, 0.95);
  width: 100%;
  height: 70px;
  z-index: 5;
}

.menu {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-container {
  width: 30px;
  height: 30px;
}

/* when we click the hamburger logo */
#hamburger:checked ~ .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  font-family: 'Tajawal', sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 25px;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

.dropdown-menu nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-features {
  width: 75%;
  height: 50%;
  border-left: 2px solid #EDE9EC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-features li {
  list-style-type: none;
}

.menu-features li a {
  margin-left: 35px;
  text-decoration: none;
  color: #EDE9EC;
}

article {
  width: 100%;
  height: 100%;
}

/* =======================================================
HERO SECTION
======================================================= */
#hero {
  width: 100%;
  height: 200vh;
}

.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #272727;
  border-bottom: 2px solid #1d1d1d;
}

.main-title {
  width: 90%;
}

.links {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 25%;
  max-width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a {
  width: 40%;
}

.brick-wall {
  background-image: url("../images/svg/wall.svg");
  background-size: 150px;
  background-position: 30px 14px;
}

.image-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 75%;
  display: block;
}

.illustration img {
  width: 100%;
}

/* =======================================================
ABOUT ME SECTION
======================================================= */
#about-me {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #1d1d1d;
  box-shadow: 0 -10px rgba(26, 26, 26, 0.3);
}

.introduction {
  width: 90%;
  margin-top: 80px;
}

.paragraphs p em {
  color: #ED9F31;
  font-style: normal;
  font-weight: 400;
}

.highlighted-word {
  color: #BE4B88;
  font-weight: 400;
}

.free-time {
  color: #109193;
  font-weight: 400;
}

/* =======================================================
PROJECTS SECTION
======================================================= */
#projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  box-shadow: 0 10px rgba(26, 26, 26, 0.3);
}

.projects-title h2 {
  position: absolute;
  bottom: 10px;
  width: 90%;
}

.projects-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  border-top: 2px solid #1d1d1d;
  border-bottom: 2px solid #1d1d1d;
  gap: 50px;
  padding: 50px 0;
}

.project {
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
  margin: 0 auto;
  width: 200px;
  height: 300px;
  border: 2px solid #1d1d1d;
  border-radius: 10px;
  box-shadow: 4px 4px rgba(26, 26, 26, 0.3);
  cursor: pointer;
}

.project:hover, .project:active {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.project:hover > .retractable-panel, .project:active > .retractable-panel {
  height: 65%;
  display: flex;
  animation: project-panel-hover 0.1s ease;
}

.project-1,
.project-3 {
  background-image: image-set(url("../images/projects/poster1-small.png") 1x, url("../images/projects/poster1-big.png") 2x);
  background-size: 115%;
  background-position: center;
}

.project-2,
.project-4 {
  background-image: image-set(url("../images/projects/poster2-small.png") 1x, url("../images/projects/poster2-big.png") 2x);
  background-size: 115%;
  background-position: center;
}

.retractable-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0%;
  width: 100%;
  background-color: rgba(237, 159, 49, 0.9);
  border-radius: 7px;
  cursor: pointer;
  display: none;
}

.retractable-panel img {
  width: 40px;
}

/* =======================================================
SKILLS SECTION
======================================================= */
#skills {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.skills-title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  box-shadow: 0 -10px rgba(26, 26, 26, 0.3);
}

.skills-title h2 {
  position: absolute;
  bottom: 10px;
  width: 90%;
}

.skills-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 80px);
  gap: 70px;
}

.cell {
  background-color: green;
}

.cell h3 {
  text-align: center;
}

/* =======================================================
MOBILE STYLES
======================================================= */
@media only screen and (max-width: 640px) {
  .title-container {
    box-shadow: 0 10px rgba(26, 26, 26, 0.3);
  }
}

/* =======================================================
TABLET STYLES
======================================================= */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .title-container {
    box-shadow: 0 10px rgba(26, 26, 26, 0.5);
  }
  .illustration {
    width: 48%;
  }
  .introduction {
    width: 70%;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =======================================================
DESKTOP STYLES
======================================================= */
@media only screen and (min-width: 1008px) {
  .menu-container {
    background-color: rgba(39, 39, 39, 0);
  }
  .menu-features li:hover {
    animation: menu-features-hover 0.4s ease 0s infinite;
    transform: scaleY(105%);
    transition: transform 0.4s ease 0s;
  }
  .menu-features li:hover a {
    margin-left: 5px;
    transition: margin-left 0.2s ease;
  }
  .main-logo {
    cursor: pointer;
  }
  .main-logo:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
  }
  #hero {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .title-container {
    width: 60%;
    border-bottom: none;
  }
  .main-title {
    width: 100%;
    padding-left: 70px;
  }
  .links {
    left: 70px;
  }
  .links a:hover {
    transform: scale(110%);
    transition: transform 0.2s ease;
  }
  .image-container {
    width: 40%;
    border-bottom: 2px solid #1d1d1d;
    border-left: 2px solid #1d1d1d;
    box-shadow: inset 7px -7px rgba(26, 26, 26, 0.3);
  }
  .illustration {
    width: 70%;
  }
  .illustration img:hover {
    transform: scale(110%);
    transition: transform 0.2s ease;
  }
  #about-me {
    border-top: none;
    box-shadow: none;
  }
  .introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 70px;
  }
  .paragraphs {
    width: 75%;
    max-width: 800px;
  }
  .projects-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 5%;
  }
  .project:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }
  .project:hover > .retractable-panel {
    height: 65%;
    display: flex;
    animation: project-panel-hover 0.1s ease;
  }
}

/* =======================================================
FOR SCREEN HEIGHT < 500px
======================================================= */
@media only screen and (max-height: 500px) {
  .dropdown-menu {
    font-size: 20px;
  }
  .links {
    max-width: 70px;
  }
  .illustration {
    width: 25%;
  }
  #about-me {
    height: 150vh;
  }
}
