* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
/* KEYFRAMES */
@keyframes menu-features-hover {
  0% {
    background-color: #109193;
  }
  50% {
    background-color: #BE4B88;
  }
  100% {
    background-color: #ED9F31;
  }
}

/* 35px*35px click area */
#hamburger {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  appearance: none;
}

/* hamburger logo */
#hamburger + label {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  top: 33.5px;
  right: 10px;
  transition: width 0.3s ease;
}

#hamburger + label::before {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  content: "";
  right: 0;
  top: -13.5px;
  transition: all 0.2s ease;
  transform-origin: right;
}

#hamburger + label::after {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  content: "";
  right: 0;
  top: 13.5px;
  transition: all 0.2s ease;
  transform-origin: right;
}

/* hamburger becomes a cross when it's clicked */
#hamburger:checked ~ label {
  width: 0;
  transition: width 0.2s ease;
}

#hamburger:checked ~ label::before {
  right: 0px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  transform-origin: right;
  width: 39px;
}

#hamburger:checked ~ label::after {
  right: 0px;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  transform-origin: right;
  width: 39px;
}

body {
  background-color: #272727;
  height: 4000px;
  font-family: 'Tajawal', sans serif;
}

h1, h2, h3 {
  font-weight: 200;
  color: #EDE9EC;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.5;
}

p {
  color: #EDE9EC;
  font-weight: 200;
}

.menu-container {
  position: fixed;
  top: 0;
  background-color: rgba(39, 39, 39, 0.95);
  width: 100%;
  height: 70px;
  z-index: 5;
}

.menu {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-container {
  width: 30px;
  height: 30px;
}

/* when we click the hamburger logo */
#hamburger:checked ~ .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  font-family: 'Tajawal', sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 25px;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

.dropdown-menu nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-features {
  width: 75%;
  height: 50%;
  border-left: 2px solid #EDE9EC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-features li {
  list-style-type: none;
}

.menu-features li a {
  margin-left: 35px;
  text-decoration: none;
  color: #EDE9EC;
}

article {
  width: 100%;
  height: 100%;
}

#hero {
  width: 100%;
  height: 200vh;
}

.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #272727;
  border-bottom: 3px solid #1d1d1d;
}

.main-title {
  width: 90%;
}

.links {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 25%;
  max-width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a {
  width: 40%;
}

.brick-wall {
  background-image: url("../images/wall.svg");
  background-size: 150px;
  background-position: 30px 14px;
}

.image-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 75%;
  display: block;
}

.illustration img {
  width: 100%;
}

#about-me {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #1d1d1d;
  box-shadow: 0 -10px rgba(26, 26, 26, 0.5);
}

.introduction {
  width: 90%;
}

.paragraphs p em {
  color: #ED9F31;
  font-style: normal;
  font-weight: 400;
}

.highlighted-word {
  color: #BE4B88;
  font-weight: 400;
}

.free-time {
  color: #109193;
  font-weight: 400;
}

#projects {
  display: flex;
  width: 100%;
  height: 250vh;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: 100%;
  box-shadow: 0 10px rgba(26, 26, 26, 0.5);
}

.projects-title h2 {
  width: 90%;
}

.poster-container {
  display: flex;
  width: 100%;
  height: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 3px solid #1d1d1d;
  border-bottom: 3px solid #1d1d1d;
}

.poster {
  height: 100%;
  width: 100%;
  min-width: 200px;
  max-width: 220px;
  display: flex;
  align-items: center;
}

.project-1 img {
  width: 100%;
}

.project-2 img {
  width: 100%;
}

.project-3 img {
  width: 100%;
}

.project-4 img {
  width: 100%;
}

/* =======================================================
MOBILE STYLES
======================================================= */
@media only screen and (max-width: 640px) {
  .title-container {
    box-shadow: 0 10px rgba(26, 26, 26, 0.5);
  }
}

/* =======================================================
TABLET STYLES
======================================================= */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .title-container {
    box-shadow: 0 10px rgba(26, 26, 26, 0.5);
  }
  .illustration {
    width: 48%;
  }
  .introduction {
    width: 70%;
  }
  #projects {
    height: 150vh;
  }
  .projects-title {
    width: 70%;
    padding-bottom: 10px;
  }
  .poster-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .poster {
    height: 50%;
    max-width: 300px;
  }
}

/* =======================================================
DESKTOP STYLES
======================================================= */
@media only screen and (min-width: 1008px) {
  .menu-container {
    background-color: rgba(39, 39, 39, 0);
  }
  .menu-features li:hover {
    animation: menu-features-hover 0.4s ease 0s infinite;
    transform: scaleY(105%);
    transition: transform 0.4s ease 0s;
  }
  .menu-features li:hover a {
    margin-left: 5px;
    transition: margin-left 0.2s ease;
  }
  #hero {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .title-container {
    width: 60%;
    border-bottom: none;
  }
  .main-title {
    width: 100%;
    padding-left: 70px;
  }
  .links {
    left: 70px;
  }
  .links a:hover {
    transform: scale(110%);
    transition: transform 0.2s ease;
  }
  .image-container {
    width: 40%;
    border-bottom: 3px solid #1d1d1d;
    border-left: 3px solid #1d1d1d;
    box-shadow: inset 7px -7px rgba(26, 26, 26, 0.3);
  }
  .illustration {
    width: 70%;
  }
  .illustration img:hover {
    transform: scale(110%);
    transition: transform 0.2s ease;
  }
  #about-me {
    border-top: none;
    box-shadow: none;
  }
  .introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 70px;
  }
  .paragraphs {
    width: 75%;
    max-width: 800px;
  }
  .projects-title {
    width: 100%;
    padding: 0 70px 20px 70px;
  }
  .projects-title h2 {
    width: 100%;
  }
  #projects {
    height: 100vh;
  }
  .poster-container {
    padding: 0 70px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .poster {
    height: 100%;
    width: 25%;
    max-width: 300px;
  }
}

/* =======================================================
FOR SCREEN HEIGHT < 500px
======================================================= */
@media only screen and (max-height: 500px) {
  .dropdown-menu {
    font-size: 20px;
  }
  .links {
    max-width: 70px;
  }
  .illustration {
    width: 25%;
  }
  #about-me {
    height: 150vh;
  }
  #projects {
    height: 100vh;
  }
  .projects-title {
    padding-bottom: 15px;
  }
  .poster-container {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .poster {
    height: 100%;
    min-width: 70px;
    max-width: 120px;
  }
}
