* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes menu-hover {
  0% {
    background-color: #109193;
  }
  50% {
    background-color: #BE4B88;
  }
  100% {
    background-color: #ED9F31;
  }
}

/* 35px*35px click area */
#hamburger {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  appearance: none;
}

/* hamburger logo */
#hamburger + label {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  top: 33.5px;
  right: 10px;
  transition: width 0.6s ease;
}

#hamburger + label::before {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  content: "";
  right: 0;
  top: -13.5px;
  transition: all 0.4s ease;
  transform-origin: right;
}

#hamburger + label::after {
  position: absolute;
  background-color: #EDE9EC;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  content: "";
  right: 0;
  top: 13.5px;
  transition: all 0.4s ease;
  transform-origin: right;
}

/* hamburger becomes a cross when it's clicked */
#hamburger:checked ~ label {
  width: 0;
  transition: width 0.4s ease;
}

#hamburger:checked ~ label::before {
  right: 0px;
  transform: rotate(-45deg);
  transition: all 0.6s ease;
  transform-origin: right;
  width: 39px;
}

#hamburger:checked ~ label::after {
  right: 0px;
  transform: rotate(45deg);
  transition: all 0.6s ease;
  transform-origin: right;
  width: 39px;
}

#hamburger:checked ~ .dropdown-menu {
  display: block;
}

/*body {
    background-color: $dark-color;
}*/
.menu-container {
  position: fixed;
  background-color: rgba(39, 39, 39, 0.7);
  width: 100%;
  height: 70px;
}

.menu {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-container {
  width: 30px;
  height: 30px;
}

.dropdown-menu {
  display: none;
  font-family: 'Big Shoulders Text', cursive;
  font-weight: 200;
  font-size: 30px;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 31, 31, 0.9);
}

.dropdown-menu nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.menu-features {
  width: 75%;
  height: 100vh;
  margin-top: 100px;
  border-left: 2px solid #EDE9EC;
}

.menu-features li {
  list-style-type: none;
  margin: 0 35px;
}

.menu-features li:nth-child(2), .menu-features li:nth-child(3), .menu-features li:nth-child(4) {
  margin-top: 60px;
}

.menu-features li:hover {
  animation: menu-hover 0.4s ease-in-out 0.1s infinite;
  transform: scale(113%);
  transition: transform 0.4s ease 0s;
}

.menu-features li a {
  text-decoration: none;
  color: #EDE9EC;
  /*&:hover {
                animation: menu-hover 0.3s ease 0s 2;
                transform: scale(110%);
            }*/
}
